.fisrtdiv{ /*use to indicate the class*/
	color: red;
}

.seconddiv{
	color: blue;
}

#singledout{ /*use to indicate the id's */
	color: green;
	text-decoration: line-through;
}

h3 + ul{ /* use to indicate the specific list it means that affect all the list which is after heading 3*/
	border:4px dotted purple;
}

li a[href = "https://www.google.com/"] { /*use to specify a certain link*/
	border: 5px solid orange;
}